:root{
  --color-primary: #1D214E;
  --color-secondary: #04D7A2;
  --size-slogan: 40px;
}

$color-primary: #1D214E;
$color-secondary: #04D7A2;
$bg-light: #FAF9FE;
$bg-secondary-light: #E7FEF8;
$color-texto: #666666;
$color-texto-light: #BFBEC3;

$rubik: 'Rubik', sans-serif;
$open:'Open Sans', sans-serif;
$font-title: $rubik;
$font-paragraph: $open;

$size-logo: 18px;
$size-title: 52px;
$size-subtitle: 20px;
$size-slogan: 40px;
$size-paragraph: 14px;

